################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IsoMetrixAppUnitTest/bin/Debug/netcoreapp3.1
/IsoMetrixAppUnitTest/obj
/IsoMetrixTest/.vs
/IsoMetrixTest/bin/Debug/netcoreapp3.1
/IsoMetrixTest/obj
